
/*Personalizando wp-admin*/

.login h1 a {
    background-image: url("/wp-content/themes/bootstrap-4-starter/imgs/logo_celula.png");
    background-position: center;
    background-size: contain;
    width: 250px!important;
}

body.login {
    background: url('/wp-content/themes/bootstrap-4-starter/imgs/fundo_login.jpg') center center #fff;
    background-repeat: no-repeat;
    background-size: cover;
}


.login form {
    background: rgba(0,0,0,0.7);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.login input[type=text],
.login input[type=checkbox],
.login input[type=password],
.login input{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
}

.login form input:focus,
.login form textarea:focus {
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.3);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.3);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.3);
}

input.button-primary {
    width: 100%;
    float:right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#login form p.submit{
    margin: 40px 0 0 0;
}

.login #backtoblog{
    margin: 0;
}

.login label{
    color: #fff;
}

.login #backtoblog a,
.login #nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.login #backtoblog a:hover,
.login #nav a:hover {
    color: #FF8C00;
}
