/*
Theme Name: Célula Web - Bootstrap Starter
Author: Célula Web
Author URI: http://celulaweb.com.br/
Description: Tema limpo para criação de sites
Version: 2.0
Text Domain: Bootstrap Starter
*/

body{
    position: relative;
}

.abs{
    position:absolute;
}

.search{
    background: transparent;
    border: none;
    border-radius: 0;
    color: gray;
    border-bottom: 1px solid gray;
    transition: 1s;
}

.search:focus{
    background: transparent;
    border: none;
    color: #000;
    border-radius: 0;
    border-bottom: 2px solid #000;
    box-shadow: none;
}

.custom-logo{
    max-width:85%;
}

.navbar-toggler{
    padding: .15rem .65rem;
}

main{
    min-height: 800px;
}

blockquote{
    padding-left: 10px;
    border-left:5px solid #000;
}

strong{
    font-weight: bolder;
}

img{
    max-width: 100%;
}

#goTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.dropdown-menu{
    background-color: transparent;
    border:none;
    padding: .1rem;
}

.border-lg{
    border: none!important;
    border-radius: unset!important;
}


.shadow-lg{
    box-shadow: none!important;
}

.card-deck{
    background-color: transparent;
}

.gray-background{
     background-color: #e6e6e6;
}

@media only screen and (min-width:992px) {

    .gray-background{
        background-color: #ffffff;
    }

    #goTop:hover{
        width: 150px;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.6);
    }

    #goTop:hover::before{
        content:"Ir para o Topo   ";
    }

    .shadow-lg{
        box-shadow: 3px 3px 5px grey;
    }

    .border-lg{
        border: 1px solid rgba(0,0,0,.125)!important;
        border-radius: .25rem!important;
    }

    .dropdown-menu {
        top: 100%;
        left: 0;
        z-index: 1000;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    .dropdown-item{
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }


}

@media only screen and (max-width:992px){
    .navbar{
        position: unset;
    }

    #navbarCollapse{
        left: 0;
        top:0;
        transition: .1s!important;
        transform: translateX(-100%) translateY(0);
        position: absolute;
        width: 80%;
        margin: 0!important;
        padding: 0!important;
        height: 100%!important;
        z-index: 1000;
        background-color: #e6e6e6;
    }

    .menu-item{
        width: 100%;
        padding:10px 20px;
        border-top: 1px solid rgba(0,0,0,.15);
        border-radius: unset;
    }


    .dropdown-menu{
        background-color: transparent;
        border:none;
        padding: .1rem;
    }


    .overlay{
        left: 0;
        top:0;
        z-index: 999;
        transition: .1s!important;
        transform: translateX(-100%) translateY(0);
        position: absolute;
        height: 100%;
        width: 100%!important;
        background-color:rgba(0, 0, 0, 0.3)!important;
    }

    .show-sidebar{
        left: 0;
        top:0;
        transform: translateX(0) translateY(0)!important;
        position: absolute;
        background-color: #e6e6e6;
    }

    .logo-menu{
        max-width:80%;
    }

    .center-icon-close{
        position: absolute;top:50%;
        transform: translateY(50%);
        right:.2rem;
        border: none!important;
        border-radius: unset!important;
    }
}

.btn-outline-primary:hover a{
    color:#fff;
    text-decoration: none;
}

.active{
    background-color: transparent!important;
    color:#007bff!important;
}

.form-w85{
    width:85%;
    display: inline;
}

.icon-w10{
    width:10%;
}

.footer-copyright{
    color: white;
    font-size: 0.8rem;
}

.celulaweb:hover{
    text-decoration: none;
}